.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.column {
    display: flex;
    flex-direction: column;
}

.separator {
    width: 100%;
    border: 1px solid black;
    margin: 5px 0;
}

.input::placeholder {
    color: silver;
    text-align: center;
    font-size: 14px;
}

.errorIcon {
    align-self: center;
    vertical-align: initial;
    scale: 1.5;
    color: palevioletred;
}

.editButtonContainer {
    border: 1.5px solid cornflowerblue;
    width: 1.6rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editButtonContainer:hover {
    cursor: pointer;
}

.editIcon {
    color: cornflowerblue;
}

.deleteIconContainer {
    display: flex;
}

.deleteIcon {
    color: palevioletred;
    scale: 1.3;
    vertical-align: initial;
}

@media (min-width: 600px) {
    .column {
        flex-direction: row;
        justify-content: space-between;
    }

    .input {
        margin-right: 15px;
    }
}
